{% extends "base.html" %}

{% block content_ds %}
    <div class="container">
        <form method="POST">
            <div class="form-group">


                <!--{{ form.csrf_token }}-->
                {{ form.hidden_tag() }}<!--这句很重要，如果没有，一直报错505-->
                <div class="container form-inline" >
                    <div class="form-group">
                        <lable for="txtUserName">{{ form.loginuser.label }}</lable>
                        {{ form.loginuser(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <lable for="txtPassWord">{{ form.loginpwd.label }}</lable>
                        {{ form.loginpwd(class="form-control" ) }}
                    </div>
                    <div class="form-group">
                        {{ form.loginsubmit(class="form-control") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="page-header">
            <h2 align="center">{{ get_flashed_messages()[0] }}</h2>
        </div>
    </div>
{% endblock %}